/* 
================================================================
Begin Custom styles
================================================================ */


body {
	font-family: 'Roboto', Sans-serif;
	color: #ddd;
}

img {
	max-width: 100%;
	height: auto;
}