.large-hero {
	position: relative;
	height: auto;
	border-bottom: solid 10px $mainBlue;

	&__text-content {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		text-align: center;
		
	}
	
	&__title {
		font-weight: 300;
		color: $mainBlue;
		font-size: 2.4rem;
		margin: 0;
		font-style: normal;
		
		@mixin atSmall {
			font-size: 4.8rem;
		}
		
	}
	
	&__subtitle {
		font-weight: 300;
		color: $mainBlue;
		font-size: 1.5rem;
		margin: 0;
		
		@mixin atSmall {
			font-size: 2.9rem;
		}
	}

	&__description {
		color: #fff;
		font-size: 1.2rem;
		font-weight: 100;
		text-shadow: 2px 2px rgba(0,0,0,.1);
		max-width: 30rem;
		margin: 0 auto;
		
		@mixin atSmall {
			font-size: 1.875rem;
		}
	}
	
	&__image {
		display: block;
	}


}



